= render 'shared/flash_message'

= render partial:'questions/question_extended', locals:{ question: @question }

= render partial:'answers/form', locals:{question: @question, answer: @question.answers.build}

