= form_for answer, remote: true, html: { id: "edit-answer-#{answer.id}", class: 'edit_answer' } do |f|
  = f.label :content, 'Text'
  = f.text_area :content, class: 'form-control'
  = f.submit 'Update', class: 'btn'